node_modules
npm-debug.log
yarn-error.log

# dependencies
/node_modules

prettier.config.js
.prettierignore
.eslintrc.json
.eslintignore
.editorconfig

npm-debug.log*
yarn-debug.log*
yarn-error.log*

package-lock.json
